.container
  .row
    .span9.main
      .page-header
        .pull-right
          a.btn.btn-success
            i.icon-white.icon-plus
            |   New Site
        h1 Sites
      table.table.sites
        - each site in sites
          tr
            td.span2
              .hosts
                each host in site.hosts()
                  div
                    strong= host
            td.span7
              .actions.pull-right
                a.btn.btn-danger
                  i.icon-white.icon-remove
                  |  Delete
                |  
                a.btn.btn-inverse
                  i.icon-white.icon-lock
                  |  Disable
                |  
                a.btn.btn-primary(href="/sites/#{site.id()}/edit")
                  i.icon-white.icon-pencil
                  |  Edit
              hgroup
                h2
                  = site.data.name
                  |  
                  small  &nbsp;(#{site.basename()})
                h3
                  small= site.data.description
              a.btn(data-toggle="collapse", data-target="#config"+site.data.name) Source
              div.collapse(id="config"+site.data.name, style="height:0")
                br
                pre.prettyprint.linenums=site.serialize()

        tfoot
          tr
            td(colspan=2) Nothing to do here.

    .span3
      form
        label 
          strong Server Running Since
        span.uneditable-input= serverStarted
      a.btn.btn-danger(href='/reset') Reload Server
      hr
      each app in apps
        .app= app.description()
